body{
  display: flex;
  justify-content: center;
  
}
.main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
button{
  width: 130px;
  border-radius:5px;
}
.container{
  display: flex;
  justify-content: center;
}
.container button{
  width: 60px;
}
.btn{
  width: 100px;
}