body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

#Container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    border: 5px solid purple;
    background-color: antiquewhite;
}

h2 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

input {
    padding: 8px;
    width: 300px;
}

button {
    padding: 8px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    color: #888;
}
